  width: 50%;
    top: 290px;
    left: 400px;

.shop {
    
position: absolute;
    
    height: 50%;
    width: 50%;
    top: 350px;
    left: 320px;
    
    
}

.fox {

position: relative;
    
    top: -510px;
    left: 620px;



    
    
    
    
}